
main {
   background-color: rgb(14, 117, 181);
   display: flex;
   display: block;
   background-image: url('../images/premium_dancer.png');
   background-position: bottom right;
   background-repeat: no-repeat;
}
