<h2 class="title">¿Por qué pasarte a premium?</h2>

<section class="main-container">

    <article>
        <img src="/images/benefit-1.png" alt="logo1">
        <div>
            <h3>Descarga música</h3>
            <p>Llévala siempre contigo</p>
        </div>
    </article>

    <article>
        <img src="/images/benefit-2.png" alt="logo2">
        <div>
            <h3>Sin anuncios</h3>
            <p>Disfruta de música sin interrupciones</p>
        </div>
    </article>

    <article>
        <img src="/images/benefit-3.png" alt="logo3">
        <div>
            <h3>Escucha lo que quieras</h3>
            <p>Incluso en el movil</p>
        </div>
    </article>

    <article>
        <img src="/images/benefit-4.png" alt="logo4">
        <div>
            <h3>Salta todas las canciones que quieras</h3>
            <p>Simplemente dale a siguiente</p>
        </div>
    </article>
</section>